<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body id="main-container" class="default">
    <!-- START: Header-->
    <div id="header-fix" class="header fixed-top">
        <div class="site-width">
            <%- include('../../partials/nav'); %>
        </div>
    </div>
    <!-- END: Header-->

    <!-- START: Main Menu-->
    <div class="sidebar">
        <%- include('../../partials/sidebar2'); %>
    </div>
    <!-- END: Main Menu-->
    <!-- START: Main Content-->
    <main>
        <div class="container-fluid site-width">
            <!-- START: Breadcrumbs-->
            <div class="row">
                <div class="col-12  align-self-center">
                    <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                        <div class="w-sm-100 mr-auto">
                            <h4 class="mb-0">User Games</h4>
                            <p>Welcome to this website</p>
                        </div>

                        <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">User Games</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- END: Breadcrumbs-->

            <!--Mulai Tabel-->
            <!-- START: Card Data-->
            <div class="col-12 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header  justify-content-between align-items-center">                               
                        <a href="/user-games/add" class="bg-primary py-2 px-2 rounded ml-auto text-white w-100 text-center">
                                <i class="icon-plus align-middle text-white"></i> <span class="d-none d-xl-inline-block">Add New User Games</span>
                            </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table layout-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% user_games.forEach((user_games, index)=> { %>
                                    <tr>
                                        <th scope="row"><%= index+1 %></th>
                                        <td><%= user_games.username %></td>
                                        <td><%= user_games.email %></td>
                                        <td><%= user_games.password %></td>
                                        <td><%= moment(user_games.createdAt).format('Do MMMM, YYYY') %></td>
                                        <td><div class="line-h-1 h5">
                                            <a class="text-primary" href="/user-games/biodata/<%= user_games.id %>"><i class="icon-people"></i></a>
                                            <a class="text-secondary" href="/user-games/history/<%= user_games.id %>"><i class="icon-folder"></i></a>
                                            <a class="text-success edit-user" href="/user-games/update/<%= user_games.id %>"><i class="icon-pencil"></i></a>
                                            <a class="text-danger" href="/user-games/delete/<%= user_games.id %>"><i class="icon-trash"></i></a>
                                        </div></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </main>
    <!-- END: Content-->
    <%- include('../../partials/foot'); %>
</body>

</html>